@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    font-family: "Lato", serif;

}

.header-section {
    height: 800px;
    background-color: rgba(229, 84, 115, 10%);
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-content {
    width: 37%;
    margin-left: 240px;
}

.header-flower {
    margin-right: 200px;
}

.header-title {
    font-size: 5rem;
    font-weight: 1000;
    padding-bottom: 1.5rem;
}

.header-paragraph {
    font-size: 1rem;
    color: #272727;
    opacity: 60%;
    padding-bottom: 1.5rem;
}

.primary-btn {
    height: 4rem;
    width: 13rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 0.7rem;
}

.primary-btn:hover {
    background-color: steelblue;
    cursor: pointer;
}


/* Features section styles */
.features-section {
    width: 80%;
    margin: auto;
    margin-top: 150px;
    /* background-color: azure; */
    height: auto;

    margin-bottom: 200px;
}

.features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.features-content>h3 {
    font-size: 2.7rem;
    font-weight: 1000;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.features-content>p {
    font-size: 1rem;
    color: #272727;
    opacity: 60%;
    width: 30%;
    text-align: center;
}

.flower-container {
    /* background-color: #E55473; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;

}

.flower-box {
    height: 530px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.flower-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

}

.flower-box>img {
    width: 50%;
}

.box2 {
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.box2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.box3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-name {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 2.5rem;
}

.flower-name>a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #272727;
}

.see-all-btn {
    display: none;
}

/* Support icon */
.support {
    background-color: rgba(39, 39, 39, 0.05);
    width: 80%;
    margin: 0px auto;
    /* height: 300px; */
    height: auto;
    margin-bottom: 200px;
    border-radius: 0.7rem;
}

.icon-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-around;
    height: auto;
    padding: 85px 125px 85px 125px;

}

.icon {
    text-align: center;
}

.icon>p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #272727;
    opacity: 60%;
    margin-top: 1rem;
}

/* Hot deal section styles */
.hot-deal-section {
    background-color: rgba(229, 84, 115, 0.05);
    height: auto;
    margin-bottom: 200px;
}

.hot-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    padding: 3.5rem;
}

.hot-content>h2 {
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 1.5rem;
}

.hot-content>p {
    width: 60%;
    margin: 0rem auto;
    margin-bottom: 1.5rem;
    font-size: 1.02rem;
    color: #272727;
    opacity: 70%;
}

.hot-button {
    width: 20%;
    height: 3.5rem;
}

/* Instagram section styles */
.instagram-section {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 200px;
    /* background-color: azure; */
}

.instagram-content {
    text-align: center;
}

.instagram-content>h2 {
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 1.5rem;
}

.instagram-content>p {
    font-size: 1.125rem;
    width: 70%;
    margin: 0rem auto;
    color: #272727;
    opacity: 70%;
    margin-bottom: 3rem;
}

.instagram-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.instagram-box>img {
    width: 100%;
}

/* Latest Section Styles */
.latest-section {
    /* background-color: bisque; */
    width: 80%;
    margin: 0rem auto;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    height: auto;
    margin-bottom: 200px;
    display: flex;
    border-radius: 1rem;

}

.latest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding: 10rem;
    /* align-content: center; */
}

.latest-content>h2 {
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 0.8rem;
}

.latest-content>p {
    color: #272727;
    opacity: 70%;
    margin-bottom: 1rem;
}

.latest-content .inputs input {
    height: 1rem;
    width: 550px;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.inputs {
    display: flex;
    gap: 0.8rem;
}

.input-btn {
    height: 3rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(229, 84, 115, 1);
    padding: 10px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.input-btn:hover {
    background-color: steelblue;
    cursor: pointer;
}

/* Footer Section */
.footer-section {
    height: 400px;
    background-color: #111010;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section>h2 {
    font-size: 3rem;
    font-weight: 1000;
}

.footer-section>.footer-paragraph {
    width: 30%;
    text-align: center;
    margin-top: 1rem;
    color: #FFFFFF;
    opacity: 80%;
    margin-bottom: 1rem;
}

.copyright {
    font-size: 1rem;
    color: white;
    opacity: 40%;
}

/* Display None operation */
.shop-btn1 {
    display: none;
}

.box4 {
    display: none;
}















/* Media Queries */
@media screen and (max-width: 576px) {
    .header-section {
        flex-direction: column;
        margin: 0rem;
        height: auto;
    }

    .header-title {
        margin-top: 2rem;
        font-size: 3rem;
        width: 80%;
        text-align: center;
    }

    .header-paragraph {
        width: 70%;
        text-align: center;
        padding: 2rem;
    }

    .header-content {
        margin: 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-flower {
        width: 200px;
        height: auto;

    }

    .header-flower>img {
        width: 150%;
        margin-left: 60px;
    }

    .primary-btn {
        height: 3rem;
        width: 10rem;
        margin-bottom: 2rem;
    }

    /* Features section */
    .features-section {
        margin-left: 0rem;
        margin-right: 0rem;
        width: 100%;
    }

    .features-content {
        width: 100%;
        text-align: center;
    }

    .features-content>p {
        width: 60%;
    }

    .flower-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        padding: 2rem;
        width: calc(100% - 64px);
    }

    .flower-name {
        display: none;
    }

    .see-all-btn {
        display: flex;
        justify-content: center;
    }

    /* Support */
    .icon-container {
        flex-direction: column;
        gap: 5rem;
    }

    /* Hot deal */
    .hot-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .hot-content {
        margin-bottom: 2rem;
    }

    /* Instagram Section */
    .instagram-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .instagram-section {
        padding: 1.25rem;
        width: calc(100% - 40px);
        margin-bottom: 100px;

    }

    /* Latest Section */
    .latest-section {
        background-image: none;
        height: 400px;
        padding: 0rem;
        background-color: rgba(229, 84, 115, 0.1);
        margin-top: 0rem;
        width: 100%;
        border-radius: 0rem;
        margin-bottom: 0rem;
    }

    .latest-content {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        text-align: center;
    }

    .inputs {
        width: 100%;
        margin-top: 2rem;
    }

    .input-btn {
        background-color: rgba(229, 84, 115, 1);
    }

    /* footer */
    .footer-section>.footer-paragraph {
        width: 80%;
        opacity: 60%;
    }

    .shop-btn1 {
        display: none;
    }

    .box4 {
        display: none;
    }

}


@media screen and (max-width: 500px) {
    .header-title {
        padding: 15px;
        width: calc(100% - 30px);
        font-size: 2rem;
    }

    .header-paragraph {
        padding: 0%;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        width: 80%;
    }

    .features-section {
        margin-bottom: 100px;
    }

    .features-content>p {
        width: 70%;
    }

    .flower-box {
        height: 300px;
    }

    .icon-container {
        padding: 20px;
        width: calc(100% - 40px);
    }

    .support {
        margin-left: 0rem;
        margin-right: 0rem;
        width: 100%;
        border-radius: 0rem;
        margin-bottom: 100px;
    }

    .hot-container {
        padding: 1rem;
    }

    .hot-content>p {
        margin: 0rem;
        width: 90%;
        margin: auto;
        margin-bottom: 1rem;
    }

    .hot-deal-section {
        margin-bottom: 100px;
    }

    .instagram-container {
        grid-template-columns: repeat(1, 1fr);
    }
}





@media screen and (min-width: 576.5px) and (max-width: 992px) {
    .header-section {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .header-content {
        margin: 0rem;
        width: 90%;
        text-align: center;
        margin-top: 2rem;
    }

    .header-title {
        width: 100%;
        font-size: 3.5rem;
    }

    .header-flower {
        width: 60%;
        margin: 0rem auto;
        margin-left: 200px;
    }

    .shop-btn {
        display: none;
    }

    .header-flower>img {
        width: 70%;
    }

    .shop-now {
        margin-top: 4rem;
        text-align: center;
    }

    /* Features */
    .features-section {
        margin: 2rem;
        width: calc(100% - 32px);
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .features-content>p {
        width: 80%;
        font-size: 1.5rem;
    }

    .flower-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .flower-name {
        display: none;
    }

    .flower-box {
        height: 300px;
        width: 100%;
    }

    .box4 {
        display: inline;
        display: flex;
    }

    /* Support */
    .support {
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
    }

    .icon-container {
        padding: 3rem;
        flex-direction: column;
        gap: 3rem;
    }

    /* Hot Deals */
    .hot-container {
        padding: 1rem;
    }

    .hot-button {
        width: 10rem;
    }

    /* Instagram */
    .instagram-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Latest */
    .latest-section {
        height: 449px;
        width: 95%;
    }

    .latest-content {
        padding: 0rem;
    }

    .latest-content .inputs {
        width: 80%;
        margin-top: 2rem;
    }

    .p {
        font-size: 1.5rem;
    }

    .footer-section .footer-paragraph {
        width: 70%;
    }

    .instagram-content>p {
        font-size: 1.5rem;
        margin-left: 0rem;
        margin-right: 0rem;
        width: 90%;
        text-align: center;
        margin: auto;
        margin-bottom: 3rem;
    }

    .hot-content>p {
        font-size: 1.5rem;
        margin: 0rem;
        width: 90%;
        margin: auto;
        text-align: center;
        margin-bottom: 2rem;
    }
}